<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.97">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Cunia&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <div class="container">
        <img src="/static/logo-white.png" alt="Logo" class="logo">
        <form id="tripForm">
            <input type="hidden" id="chatId" name="chatId">
            <div class="form-group">
                <label for="departure">Откуда</label>
                <input type="text" id="departure" name="departure" required>
            </div>
            <div class="form-group">
                <label for="destination">Куда</label>
                <input type="text" id="destination" name="destination" required>
            </div>
            <div class="form-group">
                <label for="arrival">Когда</label>
                <input type="date" id="arrival" name="arrival" required>
            </div>
            <div class="form-group">
                <label for="return">Обратно</label>
                <input type="date" id="return" name="return" required>
            </div>
            <div class="form-group">
                <label for="budget">Бюджет (необязательно):</label>
                <input type="number" id="budget" name="budget">
            </div>
            <button type="button" onclick="submitForm()">Отправить</button>
        </form>
        <div class="intent"></div>
        <div class="language-switcher" id="languageSwitcher">
            <span>Русский</span>
            <label class="switch">
                <input type="checkbox" id="language" onchange="changeLanguage()">
                <span class="slider round"></span>
            </label>
            <span>English</span>
        </div>
        <div id="confirmation" style="display: none;">
            <h2>Готово</h2>
            <p id="confirmationText"></p>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            console.log('Document loaded');
            Telegram.WebApp.ready();

            const user_id = document.getElementById('chatId').value;

            function changeLanguage() {
                const language = document.getElementById('language').checked ? 'en' : 'ru';
                const translation = translations[language];
                document.querySelector('label[for="departure"]').textContent = translation.departure;
                document.querySelector('label[for="destination"]').textContent = translation.destination;
                document.querySelector('label[for="arrival"]').textContent = translation.arrival;
                document.querySelector('label[for="return"]').textContent = translation.return;
                document.querySelector('label[for="budget"]').textContent = translation.budget;
                document.querySelector('button').textContent = translation.submit;
            }

            window.changeLanguage = changeLanguage;

            function submitForm() {
                console.log('Submit button clicked');
                const form = document.getElementById('tripForm');
                const formData = new FormData(form);
                const requiredFields = ['departure', 'destination', 'arrival', 'return'];
                const today = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format
                let allFieldsFilled = true;
                let dateCheckPassed = true;

                requiredFields.forEach(field => {
                    const input = document.getElementById(field);
                    if (!input.value) {
                        input.classList.add('error');
                        allFieldsFilled = false;
                    } else {
                        input.classList.remove('error');
                    }
                });

                const arrivalDate = document.getElementById('arrival');
                const returnDate = document.getElementById('return');

                if (arrivalDate.value < today) {
                    arrivalDate.classList.add('date-error');
                    dateCheckPassed = false;
                } else {
                    arrivalDate.classList.remove('date-error');
                }

                if (returnDate.value < today) {
                    returnDate.classList.add('date-error');
                    dateCheckPassed = false;
                } else {
                    returnDate.classList.remove('date-error');
                }

                if (allFieldsFilled && dateCheckPassed) {
                    const tripDetails = {
                        userId: user_id,  // Use user ID as chat ID
                        departure: formData.get('departure'),
                        destination: formData.get('destination'),
                        arrival: formData.get('arrival'),
                        return: formData.get('return'),
                        budget: formData.get('budget')
                    };

                    console.log('All fields filled', tripDetails);

                    document.getElementById('tripForm').style.display = 'none';
                    document.getElementById('confirmation').style.display = 'block';
                    document.getElementById('languageSwitcher').style.display = 'none';
                    document.getElementById('confirmationText').textContent = JSON.stringify(tripDetails, null, 2);

                    // Send data to Flask backend
                    fetch('/submit', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(tripDetails)
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Response from Flask', data);
                        if (data.status === 'success') {
                            console.log(data.message);
                            // Send data back to the Telegram bot
                            Telegram.WebApp.sendData(JSON.stringify(tripDetails));
                            console.log('Data sent to Telegram');
                        } else {
                            console.error(data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                } else {
                    console.log('Not all fields are filled or dates are invalid');
                }
            }

            window.submitForm = submitForm;

            document.getElementById('tripForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent default form submission
                submitForm();
            });

            document.getElementById('language').checked = false;
            changeLanguage();

        });

        const translations = {
            en: {
                departure: "Departure City:",
                destination: "Destination City:",
                arrival: "Departure Date:",
                return: "Return Date:",
                budget: "Budget (optional):",
                submit: "Submit"
            },
            ru: {
                departure: "Откуда",
                destination: "Куда",
                arrival: "Когда",
                return: "Обратно",
                budget: "Бюджет (необязательно):",
                submit: "Отправить"
            }
        };
    </script>
</body>
</html>